<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pokemon -->
      <package
            uri="platform:/plugin/pokeMDD/model/pokemon.ecore"
            class="pokemon.PokemonPackage"
            genModel="model/pokemon.genmodel"/>
   </extension>

</plugin>
